* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #3d46e7;
}

.app {
  position: absolute;
  top: 10%;
  left: 30%;
  transform: translate(-50%, -10%);
}

.app h1
 {
  color: white;
}

.app label
 {
  color: white;
}


.app .input {
  display: flex;
  justify-content: center;
  align-items: center;
  color:#dedff5
}
.tables{
  position: absolute;
  top: 15%;
  left: 150%;
  border-color: black;
}

th,tr{
  color: white;
}

table, th, td {
  border: 1px solid rgb(233, 217, 217);
  border-collapse: collapse;
}


